
<h1>hello i am dinesh and here is my some website clone </h1>

<a href="http://127.0.0.1:5000/love">love</a>
<br/>
<br/>
<br/>
<br/>
<a href="http://127.0.0.1:5000/health">health</a>
<br/>
<br/>
<br/>



<a href="http://127.0.0.1:5000/jio_mart">jio mart</a>
<br/>
<br/>
<br/>
<br/>


<a href="http://127.0.0.1:5000/fillif">fitlif</a>
<br/>
<br/>
<br/>
<br/>

<a href="http://127.0.0.1:5000/netflix">netflix</a>
<br/>
<br/>
<br/>
<br/>

<a href="http://127.0.0.1:5000/youtube">youtube</a>
<br/>
<br/>
<br/>
<br/>



